<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>key</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>KeyDocument</string>
			<key>CFBundleTypeName</key>
			<string>BGDocumentTypeShow</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSCanProvideIMVideoDataSource</key>
			<true/>
			<key>LSTypeIsPackage</key>
			<true/>
			<key>NSDocumentClass</key>
			<string>BGDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>key</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>KeyDocument</string>
			<key>CFBundleTypeName</key>
			<string>BGDocumentTypeSingleFileShow</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSCanProvideIMVideoDataSource</key>
			<true/>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSDocumentClass</key>
			<string>BGDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>kth</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>KeyTheme</string>
			<key>CFBundleTypeName</key>
			<string>BGDocumentTypeTheme</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<true/>
			<key>NSDocumentClass</key>
			<string>BGDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>kth</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>KeyTheme</string>
			<key>CFBundleTypeName</key>
			<string>BGDocumentTypeSingleFileTheme</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSDocumentClass</key>
			<string>BGDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>pptx</string>
			</array>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>application/vnd.openxmlformats-officedocument.presentationml.presentation</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Microsoft PowerPoint presentation</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>PPTX</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>NSDocumentClass</key>
			<string>BGDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>ppt</string>
			</array>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>application/vnd.ms-powerpoint</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Microsoft PowerPoint 97 - 2004 presentation</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>SLD8</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>NSDocumentClass</key>
			<string>BGDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>ppsx</string>
			</array>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>application/vnd.openxmlformats-officedocument.presentationml.slideshow</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Microsoft PowerPoint slide show</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>PPSX</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>NSDocumentClass</key>
			<string>BGDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>pps</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Microsoft PowerPoint 97 - 2004 slide show</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>PPSS</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>NSDocumentClass</key>
			<string>BGDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>cwk</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>BGDocumentTypeAppleWorks</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>CWPR</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>NSDocumentClass</key>
			<string>BGDocument</string>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>Keynote</string>
	<key>CFBundleGetInfoString</key>
	<string>5.0, Copyright 2009 Apple Inc.</string>
	<key>CFBundleHelpBookFolder</key>
	<string>Keynote 5 Help</string>
	<key>CFBundleHelpBookName</key>
	<string>Keynote '09 Help</string>
	<key>CFBundleIconFile</key>
	<string>Keynote</string>
	<key>CFBundleIdentifier</key>
	<string>com.apple.iWork.Keynote</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Keynote</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>5.0</string>
	<key>CFBundleSignature</key>
	<string>keyn</string>
	<key>CFBundleVersion</key>
	<string>754</string>
	<key>LSMinimumSystemVersion</key>
	<string>10.4.0</string>
	<key>LSRequiresNativeExecution</key>
	<true/>
	<key>NSAppleScriptEnabled</key>
	<true/>
	<key>NSMainNibFile</key>
	<string>Keynote</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.apple.package</string>
				<string>public.composite-content</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Keynote document</string>
			<key>UTTypeIconName</key>
			<string>KeyDocument</string>
			<key>UTTypeIdentifier</key>
			<string>com.apple.iWork.Keynote.key</string>
			<key>UTTypeReferenceURL</key>
			<string>http://www.apple.com/iwork/keynote/</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>key</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.pkware.zip-archive</string>
				<string>public.zip-archive</string>
				<string>public.composite-content</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Keynote document</string>
			<key>UTTypeIconName</key>
			<string>KeyDocument</string>
			<key>UTTypeIdentifier</key>
			<string>com.apple.iWork.Keynote.sffkey</string>
			<key>UTTypeReferenceURL</key>
			<string>http://www.apple.com/iwork/keynote/</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>key</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>application/x-iwork-keynote-sffkey</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.apple.package</string>
				<string>public.composite-content</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Keynote Theme</string>
			<key>UTTypeIconName</key>
			<string>KeyTheme</string>
			<key>UTTypeIdentifier</key>
			<string>com.apple.iWork.Keynote.kth</string>
			<key>UTTypeReferenceURL</key>
			<string>http://www.apple.com/iwork/keynote/</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>kth</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.pkware.zip-archive</string>
				<string>public.zip-archive</string>
				<string>public.composite-content</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Keynote Theme</string>
			<key>UTTypeIconName</key>
			<string>KeyTheme</string>
			<key>UTTypeIdentifier</key>
			<string>com.apple.iWork.Keynote.sffkth</string>
			<key>UTTypeReferenceURL</key>
			<string>http://www.apple.com/iwork/keynote/</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>kth</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>application/x-iwork-keynote-sffkth</string>
				</array>
			</dict>
		</dict>
	</array>
</dict>
</plist>
