<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>numbers</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>NumbersDocument</string>
			<key>CFBundleTypeName</key>
			<string>LSDocumentTypeNativeDocument</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSTypeIsPackage</key>
			<true/>
			<key>NSDocumentClass</key>
			<string>LSDocument</string>
			<key>NSExportableAs</key>
			<array>
				<string>Microsoft Excel 97-2004 workbook</string>
				<string>LSDocumentTypePDF</string>
				<string>LSDocumentTypeCSV</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>numbers</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>NumbersDocument</string>
			<key>CFBundleTypeName</key>
			<string>LSDocumentTypeNativeSingleFileDocument</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSDocumentClass</key>
			<string>LSDocument</string>
			<key>NSExportableAs</key>
			<array>
				<string>Microsoft Excel 97-2004 workbook</string>
				<string>LSDocumentTypePDF</string>
				<string>LSDocumentTypeCSV</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>xlsx</string>
			</array>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>application/vnd.openxmlformats-officedocument.spreadsheetml.sheet</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Microsoft Excel workbook</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>XLSX</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSDocumentClass</key>
			<string>LSDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>xls</string>
			</array>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>application/vnd.ms-excel</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Microsoft Excel 97-2004 workbook</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>XLS8</string>
				<string>TEXT</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSDocumentClass</key>
			<string>LSDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>xla</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Microsoft Excel add-in</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>XLA8</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSDocumentClass</key>
			<string>LSDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>xltx</string>
			</array>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>application/vnd.openxmlformats-officedocument.spreadsheetml.template</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Microsoft Excel template</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>XLTX</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSDocumentClass</key>
			<string>LSDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>xlt</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Microsoft Excel 97-2004 template</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>sLS8</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSDocumentClass</key>
			<string>LSDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>xlsm</string>
			</array>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>application/vnd.ms-excel.sheet.macroEnabled.12</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Microsoft Excel macro-enabled workbook</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>XLSM</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSDocumentClass</key>
			<string>LSDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>txt</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>LSDocumentTypeTXT</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSDocumentClass</key>
			<string>LSDocument</string>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>csv</string>
			</array>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>text/csv</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>LSDocumentTypeCSV</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSDocumentClass</key>
			<string>LSDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>pdf</string>
				<string>PDF</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>LSDocumentTypePDF</string>
			<key>CFBundleTypeRole</key>
			<string>None</string>
			<key>LSTypeIsPackage</key>
			<false/>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>cwk</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>LSDocumentTypeAppleWorks</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>CWSS</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSDocumentClass</key>
			<string>LSDocument</string>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>qfx</string>
				<string>QFX</string>
				<string>ofx</string>
				<string>OFX</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>LSDocumentTypeOFX</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSDocumentClass</key>
			<string>LSDocument</string>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>nmbtemplate</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>NumbersTemplate</string>
			<key>CFBundleTypeName</key>
			<string>LSDocumentTypeNativeStationery</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSTypeIsPackage</key>
			<true/>
			<key>NSDocumentClass</key>
			<string>LSDocument</string>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>nmbtemplate</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>NumbersTemplate</string>
			<key>CFBundleTypeName</key>
			<string>LSDocumentTypeNativeSingleFileStationery</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSDocumentClass</key>
			<string>LSDocument</string>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>Numbers</string>
	<key>CFBundleGetInfoString</key>
	<string>2.0, Copyright 2009 Apple Inc.</string>
	<key>CFBundleHelpBookFolder</key>
	<string>Numbers 2 Help</string>
	<key>CFBundleHelpBookName</key>
	<string>Numbers '09 Help</string>
	<key>CFBundleIconFile</key>
	<string>Numbers</string>
	<key>CFBundleIdentifier</key>
	<string>com.apple.iWork.Numbers</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Numbers</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>2.0</string>
	<key>CFBundleSignature</key>
	<string>NMBR</string>
	<key>CFBundleVersion</key>
	<string>299</string>
	<key>LSRequiresNativeExecution</key>
	<true/>
	<key>NSAppleScriptEnabled</key>
	<true/>
	<key>NSMainNibFile</key>
	<string>Numbers</string>
	<key>NSPrincipalClass</key>
	<string>LSApplication</string>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.apple.package</string>
				<string>public.composite-content</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Numbers document</string>
			<key>UTTypeIconName</key>
			<string>NumbersDocument</string>
			<key>UTTypeIdentifier</key>
			<string>com.apple.iWork.Numbers.numbers</string>
			<key>UTTypeReferenceURL</key>
			<string>http://www.apple.com/iwork/numbers/</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>numbers</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.pkware.zip-archive</string>
				<string>public.zip-archive</string>
				<string>public.composite-content</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Numbers document</string>
			<key>UTTypeIconName</key>
			<string>NumbersDocument</string>
			<key>UTTypeIdentifier</key>
			<string>com.apple.iWork.Numbers.sffnumbers</string>
			<key>UTTypeReferenceURL</key>
			<string>http://www.apple.com/iwork/numbers/</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>numbers</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>application/x-iwork-numbers-sffnumbers</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.apple.package</string>
				<string>public.composite-content</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Numbers Template</string>
			<key>UTTypeIconName</key>
			<string>NumbersDocument</string>
			<key>UTTypeIdentifier</key>
			<string>com.apple.iWork.Numbers.template</string>
			<key>UTTypeReferenceURL</key>
			<string>http://www.apple.com/iwork/numbers/</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>nmbtemplate</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.pkware.zip-archive</string>
				<string>public.zip-archive</string>
				<string>public.composite-content</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Numbers Template</string>
			<key>UTTypeIconName</key>
			<string>NumbersDocument</string>
			<key>UTTypeIdentifier</key>
			<string>com.apple.iWork.Numbers.sfftemplate</string>
			<key>UTTypeReferenceURL</key>
			<string>http://www.apple.com/iwork/numbers/</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>nmbtemplate</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>application/x-iwork-numbers-sfftemplate</string>
				</array>
			</dict>
		</dict>
	</array>
</dict>
</plist>
