<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>pages</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>Pages_Doc</string>
			<key>CFBundleTypeName</key>
			<string>SLDocumentTypeNativePublication</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSTypeIsPackage</key>
			<true/>
			<key>NSDocumentClass</key>
			<string>SLPublication</string>
			<key>NSExportableAs</key>
			<array>
				<string>Microsoft Word 97 - 2004 document</string>
				<string>SLDocumentTypePlainText</string>
				<string>SLDocumentTypePDF</string>
				<string>SLDocumentTypeRichText</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>pages</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>Pages_Doc</string>
			<key>CFBundleTypeName</key>
			<string>SLDocumentTypeNativeSingleFilePublication</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSDocumentClass</key>
			<string>SLPublication</string>
			<key>NSExportableAs</key>
			<array>
				<string>Microsoft Word 97 - 2004 document</string>
				<string>SLDocumentTypePlainText</string>
				<string>SLDocumentTypePDF</string>
				<string>SLDocumentTypeRichText</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>template</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>Pages_Template</string>
			<key>CFBundleTypeName</key>
			<string>SLDocumentTypeNativeStationery</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSTypeIsPackage</key>
			<true/>
			<key>NSDocumentClass</key>
			<string>SLPublication</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>template</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>Pages_Template</string>
			<key>CFBundleTypeName</key>
			<string>SLDocumentTypeNativeSingleFileStationery</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSDocumentClass</key>
			<string>SLPublication</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>rtf</string>
			</array>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>text/rtf</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>SLDocumentTypeRichText</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>RTF </string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSDocumentClass</key>
			<string>SLPublication</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>rtfd</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>SLDocumentTypeRichTextBundle</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<true/>
			<key>NSDocumentClass</key>
			<string>SLPublication</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>txt</string>
				<string>text</string>
			</array>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>text/plain</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>SLDocumentTypePlainText</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSDocumentClass</key>
			<string>SLPublication</string>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>SLDocumentTypeSimpleText</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>TEXT</string>
				<string>sEXT</string>
				<string>ttro</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSDocumentClass</key>
			<string>SLPublication</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>docx</string>
			</array>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>application/vnd.openxmlformats-officedocument.wordprocessingml.document</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Microsoft Word document</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>WXBN</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSDocumentClass</key>
			<string>SLPublication</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>doc</string>
			</array>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>application/msword</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Microsoft Word 97 - 2004 document</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>W8BN</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSDocumentClass</key>
			<string>SLPublication</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>dotx</string>
			</array>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>application/vnd.openxmlformats-officedocument.wordprocessingml.template</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Microsoft Word template</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>WXTN</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSDocumentClass</key>
			<string>SLPublication</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>dot</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Microsoft Word 97 - 2004 template</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>W8TN</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSDocumentClass</key>
			<string>SLPublication</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>pdf</string>
				<string>PDF</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>SLDocumentTypePDF</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>PDF </string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>None</string>
			<key>LSTypeIsPackage</key>
			<false/>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>cwk</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>SLDocumentTypeAppleWorks</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>CWWP</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSDocumentClass</key>
			<string>SLPublication</string>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>Pages</string>
	<key>CFBundleGetInfoString</key>
	<string>4.0, Copyright 2009 Apple Inc.</string>
	<key>CFBundleHelpBookFolder</key>
	<string>Pages 4 Help</string>
	<key>CFBundleHelpBookName</key>
	<string>Pages '09 Help</string>
	<key>CFBundleIconFile</key>
	<string>Pages</string>
	<key>CFBundleIdentifier</key>
	<string>com.apple.iWork.Pages</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Pages</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>4.0</string>
	<key>CFBundleSignature</key>
	<string>page</string>
	<key>CFBundleVersion</key>
	<string>727</string>
	<key>LSMinimumSystemVersion</key>
	<string>10.4.0</string>
	<key>LSRequiresNativeExecution</key>
	<true/>
	<key>NSAppleScriptEnabled</key>
	<true/>
	<key>NSMainNibFile</key>
	<string>Pages</string>
	<key>NSPrincipalClass</key>
	<string>SLApplication</string>
	<key>SFAppDotMacPublishErrorMatrix</key>
	<array>
		<array>
			<string>deleteResourceAtPath:</string>
			<string>*</string>
			<string>*</string>
			<string>*</string>
			<integer>0</integer>
			<string></string>
		</array>
		<array>
			<string>putLocalFileAtPath:toPath:</string>
			<string>*</string>
			<string>100</string>
			<string>*</string>
			<integer>3</integer>
			<string></string>
		</array>
		<array>
			<string>putData:toPath:</string>
			<string>*</string>
			<string>100</string>
			<string>*</string>
			<integer>3</integer>
			<string></string>
		</array>
		<array>
			<string>*</string>
			<string>*</string>
			<string>NULL</string>
			<string>*</string>
			<integer>0</integer>
			<string></string>
		</array>
	</array>
	<key>SFAppDotMacPublishScheme</key>
	<string>http</string>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.apple.package</string>
				<string>public.composite-content</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Pages document</string>
			<key>UTTypeIconName</key>
			<string>Pages_Doc</string>
			<key>UTTypeIdentifier</key>
			<string>com.apple.iWork.Pages.pages</string>
			<key>UTTypeReferenceURL</key>
			<string>http://www.apple.com/iwork/pages/</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>pages</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.pkware.zip-archive</string>
				<string>public.zip-archive</string>
				<string>public.composite-content</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Pages document</string>
			<key>UTTypeIconName</key>
			<string>Pages_Doc</string>
			<key>UTTypeIdentifier</key>
			<string>com.apple.iWork.Pages.sffpages</string>
			<key>UTTypeReferenceURL</key>
			<string>http://www.apple.com/iwork/pages/</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>pages</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>application/x-iwork-pages-sffpages</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.apple.package</string>
				<string>public.composite-content</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Pages Template</string>
			<key>UTTypeIconName</key>
			<string>Pages_Template</string>
			<key>UTTypeIdentifier</key>
			<string>com.apple.iWork.Pages.template</string>
			<key>UTTypeReferenceURL</key>
			<string>http://www.apple.com/iwork/pages/</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>template</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.pkware.zip-archive</string>
				<string>public.zip-archive</string>
				<string>public.composite-content</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Pages Template</string>
			<key>UTTypeIconName</key>
			<string>Pages_Template</string>
			<key>UTTypeIdentifier</key>
			<string>com.apple.iWork.Pages.sfftemplate</string>
			<key>UTTypeReferenceURL</key>
			<string>http://www.apple.com/iwork/pages/</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>template</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>application/x-iwork-pages-sfftemplate</string>
				</array>
			</dict>
		</dict>
	</array>
</dict>
</plist>
